<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add policy</title>
</head>
<body>
    <h1>Add Policy</h1>

<form action="" method="post">
    <label for="offername">offer name</label>
    <input type="text" id="offername">
    <br>
    <label for="offercoverage">offer coverage</label>
    <input type="text" id="offercoverage">
    <br>
    <label for="offercostbermonth">offer cost ber month</label>
    <input type="text" id="offercostbermonth">
    <br>
    <label for="offercostberyear">offer cost ber year</label>
    <input type="text" id="offercostberyear">
    <button type="submit">add new</button>
</form>
</body>
</html>