<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insurance</title>
</head>
<body>
    <h1>insurance</h1>
    <a href="/employee/insurance/newSubReq">new subscribtion requests</a>
    <a href="">Pending visits</a>
    <a href="/employee/insurance/addpolicy">Add new policy</a>
</body>
</html>