<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash Board</title>
</head>
<body>
    <h1>
        Client profile
    </h1>
  
    <a href="/client/openvisit">Make  a new visit</a>
    <a href="">view pinding tests</a>
    <a href="/client/appointments/reserved">Appointments</a>
    <a href="">procedures</a>
    <a href="/client/subscribe-to-insurance">Subsrube to insurance company</a>
</body>
</html>