<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Visit</title>
</head>
<body>
    <h1>
       Doctor Visit
    </h1>
    <form action="/client/openvisit/doctor" method="get">
        <label for="speciality">speciality</label>
        <input type="text" id="speciality">
        <br>
        <label for="time">Time</label>
        <input type="datetime" id="time">
        <br>
        <label for="City">City</label>
        <input type="text" id="City">
        <br>
        <label for="date">date</label>
        <input type="date" id="date">
        <br>
        <button type="submit">Search</button>
    </form>
    
   
</body>
</html>