<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Visit</title>
</head>
<body>
    <h1>
      <%= header%>
    </h1>
    
    <a href="">Lab</a>
    <a href="">Radiolagy</a>
    <a href="">Pharmacy</a>
    <a href="">Therapy</a>
    <section>
      <%searchResults.forEach(result=>{%>
          <div>
         <p><%=result.testname%></p>
         <p><%=result.time%></p>
         <p><%=result.doctornotes%></p>
         <form action="" method="post" id="createVisit">
          
          <button type="submit">add</button>
        </form>
  </div>
          <%})%>
  </section>


  <h3>List of procedures</h3>

  <table>
    <thead>
      <tr>
      <th>name</th>
      <th>Notes</th>
      <th>Department</th>
      <th>price</th>
      <th>edit</th>
      <th>delete</th>
    </tr>
    </thead>
    <tbody id="tbody"></tbody>
   
  </table>
 
  <form action="/client/openvisit/self" method="post" id="addVisit">
    <button type="submit"></button>
  </form>


</body>
<script src="js/selfVisit.js"></script>
</html>