<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subscribeToInsurance</title>
</head>
<body>
    <h1>subscribe To Insurance</h1>

    <form action="" method="post">
        <label for="insurancecompanies">insurance companies</label>
        <select  id="insurancecompanies">
            <option value=""  ></option>
            <option value=""></option>
            <option value="" ></option>
            <option value="" ></option>
        </select>
        <br>
        <label for="policiesavailable">policies available</label>
        <select  id="policiesavailable">
            <option value=""  ></option>
            <option value=""></option>
            <option value="" ></option>
            <option value="" ></option>
        </select>
        <br>
        <button type="submit">Send Request</button>
    </form>
</body>
</html>