<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diagnosis</title>
</head>
<body>
    <h1>diagnosis</h1>
    <form action="" method="post">
        <label for="symptoms">symptoms</label>
        <input type="text" id="symptoms">
        <br>
        <label for="period">period</label>
        <input type="text" id="period">
        <br>
        <label for="signs">signs</label>
        <input type="text" id="signs">
        <br>
        <label for="diagnosis">diagnosis</label>
        <textarea name="" id="diagnosis" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>