<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invoices exported</title>
</head>
<body>
    <h1>invoices number</h1>

    <p>patient name :<%=result.patientname%></p>
    <p>total payment :<%=result.totalpayment%></p>
<p>procedures</p>
        <%searchResults.forEach(result=>{%>
            <div>
                <p><%=result.procedure%></p>
            </div>
            <%})%>
    </section>

</body>
</html>